.ozone_multicurrency_blck{
	display: block;
	margin: 0 0 5px 0;
	width: auto;
	float: none;
}

.ozone_multicurrency_blck p{
	margin-left: 5px;
}


.product_custom_field{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}